<menu-principal></menu-principal>
<div class="content-wrapper">
  <section class="content">
    <div class="col-lg-12 col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Confira aqui suas consultas anteriores</h3>
        </div>
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Consulta</th>
                <th>Data da consulta</th>
                <th>Média</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{consulta.nome}}</td>
                <td>{{consulta.data}}</td>
                <td>{{consulta.media}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
<rodape-principal></rodape-principal>