<menu-principal></menu-principal>
<div class="wrapper">
	<div class="content-wrapper">
		<section class="content-header">
			<h1>
			Indicadores
			<small>conforme seleção dos preços</small>
			</h1>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-md-4">
					<div class="info-box">
						<span class="info-box-icon bg-green"><i class="fa fa-bar-chart"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">Preço médio</span>
							<span class="info-box-number pull-right">R$1.410,00</span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<div class="col-md-4">
					<div class="info-box">
						<span class="info-box-icon bg-aqua"><i class="fa  fa-area-chart"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">Mediana</span>
							<span class="info-box-number pull-right">R$1.410,00</span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<div class="col-md-4">
					<div class="info-box">
						<span class="info-box-icon bg-aqua"><i class="fa fa-minus"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">Menor Preço</span>
							<span class="info-box-number pull-right">R$1.410,00</span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<div class="col-md-4">
					<div class="info-box">
						<span class="info-box-icon bg-aqua"><i class="fa fa-plus"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">Maior Preço</span>
							<span class="info-box-number pull-right">R$1.410,00</span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<div class="col-md-4">
					<div class="info-box">
						<span class="info-box-icon bg-aqua"><i class="fa  fa-arrows-h"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">Amplitude total</span>
							<span class="info-box-number pull-right">R$1.410,00</span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<div class="col-md-4">
					<div class="info-box">
						<span class="info-box-icon bg-aqua"><i class="fa  fa-cogs"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">Desvio Padrão</span>
							<span class="info-box-number pull-right">R$1.410,00</span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
			</div>
		</section>
	</div>
</div>
<rodape-principal></rodape-principal>