<header class="main-header">
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Aequilibrium</b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        
        
        
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">3</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">Você tem 3 novas notificaçõs</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> Sua pergunta foi respondida
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-warning text-yellow"></i> Responda as perguntas pendentes
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-users text-red"></i> 5 novas perguntas pendentes
                  </a>
                </li>
                
              </ul>
            </li>
            <li class="footer"><a href="#">Ver todas</a></li>
          </ul>
        </li>
        <!-- Tasks: style can be found in dropdown.less -->
        
      </li>
      <!-- User Account: style can be found in dropdown.less -->
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="">User</span>
        </a>
        <ul class="dropdown-menu">
          <!-- User image -->
          <li class="user-header">
            <p>
              Bira - PHP developer
              <small>Membro da INAPE</small>
            </p>
          </li>
          
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
          <div class="pull-left">
            <a href="#" class="btn btn-default btn-flat">Profile</a>
          </div>
          <div class="pull-right">
            <a href="#" class="btn btn-default btn-flat">Sign out</a>
          </div>
        </li>
      </ul>
    </li>
    <!-- Control Sidebar Toggle Button -->
    
  </ul>
</div>
</nav>
</header>
<aside class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
<!-- Sidebar user panel -->
<div class="user-panel">
  <div class="pull-left image">
    
  </div>
</div>
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="active treeview">
    <a href="#">
      <i class="fa fa-flag"></i> <span>Início</span>
    </a>
  </li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-table"></i>
      <span>Calculos anteriores</span>
      
    </a>
    <ul class="treeview-menu">
      <li><a href="/resultadofinal"><i class="fa fa-circle-o"></i>Tabela Geral</a></li>
      <li><a href="/selecaodegrupos"><i class="fa fa-circle-o"></i>Tabela de Grupos</a></li>
    </ul>
  </li>
  <li>
    <a href="/novogrupo">
      <i class="fa fa-star"></i> <span>Adicionar novo grupo</span>
      <span class="pull-right-container">
        <small class="label pull-right bg-blue">x</small>
      </span>
    </a>
  </li>
  <li class="treeview">
    <a href="/novoindice">
      <i class="fa fa-book"></i>
      <span>Adicionar novo indice</span>
      <span class="pull-right-container">
        <small class="label pull-right bg-yellow">x</small>
      </span>
    </a>
  </li>
  
</section>
<!-- /.sidebar -->
</aside>