<menu-principal></menu-principal>
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Relação de valores</h3>
                            <form action="#" method="get" class="form col-md-5 pull-right">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding" data-ng-controller="ProdutosController as Produtos">
                            <ul>
                                <li data-ng-repeat="produto in Produtos.product">
                                    {{ Produtos.pricemax }} - {{ produto.pricemax }}
                                </li>
                            </ul>
                        </div>
                        <div class="box-footer">
                            <a href="/mediadeprecos" class="btn btn-success pull-right" type="submit">Enviar</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<rodape-principal></rodape-principal>
